@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-Thin.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-ThinItalic.ttf')
    format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-LightItalic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-Italic.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-MediumItalic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-Black.ttf')
    format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/cameras-stream/assets/fonts/LibreFranklin-BlackItalic.ttf')
    format('truetype');
  font-weight: 900;
  font-style: italic;
}
