<div class="h-full w-full p-2">
  @if (camerasActive.length === 0) {
    <div class="h-full w-full text-center flex items-center justify-center">
      <div
        class="rounded-3xl bg-slate-800 h-full w-full flex items-center justify-center"
      >
        <span class="text-2xl text-white font-bold">
          Choose one or more cameras from the list on the right
        </span>
      </div>
    </div>
  } @else {
    <div [ngClass]="getGridClass()" class="gap-4 p-4">
      @for (camera of camerasActive; track camera.id) {
        <div
          class="rounded-lg shadow-lg bg-slate-800 p-4 transition-transform transform hover:scale-105"
        >
          @if (camera.localWebcam) {
            <app-camera-container [camera]="camera">
              <app-webcam [id]="camera.id" />
            </app-camera-container>
          } @else {
            <app-camera-container [camera]="camera">
              <app-camera-stream
                [streamUrl]="camera.streamUrl || ''"
                [id]="camera.id"
              />
            </app-camera-container>
          }
        </div>
      }
    </div>
  }
</div>
