<div class="h-full w-full p-2">
  @if (camerasActive.length === 0) {
    <div class="h-full w-full text-center flex items-center justify-center">
      <div
        class="rounded-3xl bg-slate-800 h-full w-full flex items-center justify-center"
      >
        <span class="text-2xl text-white font-bold">
          Choose one or more cameras from the list on the right
        </span>
      </div>
    </div>
  } @else {
    <div
      class="h-[100%] flex text-center items-center justify-center gap-2"
      [ngClass]="getGridClass()"
    >
      @for (camera of camerasActive; track camera.id) {
        @if (camera.localWebcam) {
          <div
            class="rounded-3xl bg-slate-800 h-full flex text-center items-center justify-center"
          >
            <app-webcam />
          </div>
        } @else {
          <div
            class="rounded-3xl bg-slate-800 h-full flex text-center items-center justify-center"
          >
            <app-camera-stream [streamUrl]="camera.streamUrl || ''" />
          </div>
        }
      }
    </div>
  }
</div>
